.info{
    padding-top: 2rem;
}
.contact{
    margin-bottom: 3rem;
}

.contact-setup{   
    margin: 10px; 
    padding: 30px;
    justify-content: space-between;
    text-align: center;   
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.contact-form-setup{   
    margin: 10px; 
    padding: 30px;
    justify-content: space-between;
    text-align: center;   
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.contact-form-setup:hover{   
    margin: 10px; 
    padding: 30px;
    justify-content: space-between;
    text-align: center;   
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.form_setup{
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
    }

.form_setup:hover{
    color: inherit;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.form-int{
    background-color: rgba(232, 229, 229, 0.45);
    border: 0;
    width: 95%;
    padding: 5px;
}

.form-int-button{
    background-color: rgba(232, 229, 229, 0.45);
    color: black;
    border: 0;
    padding: 10px;
}

.message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.message .text-success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}

.send-btn{
    width: 10rem;
    margin: auto auto;
    text-align: center;
    border-radius: 20px;
    padding: 0.5rem;
    color: rgb(133, 130, 130);
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.send-btn:hover{
    width: 10rem;
    margin: auto auto;
    text-align: center;
    border-radius: 20px;
    padding: 0.5rem;
    color: black;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}

.btn-form-item{
    margin-top: 2rem;
}

.message .text-danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: 3.s;
    animation: buttons .3s linear;
    display: none;
}

@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}










